@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;500;600;700&display=swap');

:root{
    --padding-container: 10px;
    --color-secundary: #243A73;
    --primary: rgb(48, 151, 211);
    --dark: #21252f;
    --body: #888;
    --white: #ffffff;
    --box-shadow: 0 8px 22px rgba(0,0,0,0.1);
}

body{
    font-family: "Sora", sans-serif !important;
    line-height: 1.7;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 0px 0px;
    z-index: 10;
}

/* .container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);

} */


/* SERVICE */
section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.service {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.service::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    background-color: var(--primary);
    z-index: -1;
    opacity: 0;
    transition: all 0.4s ease;
}


.service:hover .iconbox {
    background-color: var(--white);
    color: var(--primary);
}

.service:hover h5,
.service:hover p {
    color: var(--white);;
}

.service:hover::after {
    opacity: 1;
    top: 0;
}

/* SERVICE */

.hero{
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../img/inteligente.jpg');
    clip-path: polygon(100% 0, 100% 66%, 49% 100%, 0 69%, 0 0);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    max-height: 130vh;
    z-index: 2;



/*     width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: white; */
}

.hero::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    z-index: -1;
}

a {
    text-decoration: none!important;
}

.title{
    color: var(--primary);
}
.sub{
    color: var(--color-secundary);
}

/* NAVBAR */

.navbar-brand{
    color: #fff!important;
    margin-right: 20px!important;
}

.nav-link{
    color: white!important;
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.btn {
    background: var(--primary)!important;
    padding: 14px 18px;
    border-radius: 20px!important;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
}

header ul li a{
    position: relative!important;
    text-decoration: none;
    transition: 0.7s;
}
header.abajo{
    padding: 35px 20px;
}
header.abajo .navbar-brand, header.abajo ul li a{
	color: var(--primary)!important;
}

/* NAVBAR */

/* Hero Container */


.cta{
    display: inline-block;
    background-color: rgb(48, 151, 211);
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 20px;
    border-radius: 30px;
}
.ctaD{
    display: flexbox;
    background-color: rgb(48, 151, 211);
    justify-self: center;
    color: #fff!important;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 20px;
}
/* Hero Container */

/* HERO 2 / ABOUT */
.about{
    text-align: center;
}

.subtitle{
    color: var(--primary);
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 25px;
}

.card-title{
    color: var(--primary);
}
.card-text{
    font-weight: 400;
    color: #243A73;
}

.about-paragraph{
    line-height: 1.4;
    color: #243A73;
    font-weight: 400;
}

.about-main{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about-icons{
    display: grid;
    gap: 4em;
    justify-items: center;
    width: 300px;
    overflow: hidden;
    margin: 0 auto;
}

.about-img{
    width: 300px;
}
/* HERO 2 / ABOUT */


/* Soluciones */
/* #features{
    margin-left: 120px;
} */

.col-img {
    background-image: url(../img/personas-instalando.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100px;
}
/* Soluciones */


/* Services */

.card-effect {
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    padding: 25px;
    transition: all 0.35s ease;
}
.card-effect:hover {
    box-shadow: none;
    transform: translateY(5px);
}

.iconbox {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: var(--white);
    font-size: 32px;
    border-radius: 100px;
    flex: none;
}

.service {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.service::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    background-color: var(--primary);
    z-index: -1;
    opacity: 0;
    transition: all 0.4s ease;
}


.service:hover .iconbox {
    background-color: var(--white);
    color: var(--primary);
}

.service:hover h5,
.service:hover p {
    color: var(--white);;
}

.service:hover::after {
    opacity: 1;
    top: 0;
}
/* Services */

/* BOTON WHATSAPP */

.btn-wsp{
    position:fixed;
    width:55px;
    height:55px;
    line-height:55px;
    bottom:30px;
    right:30px;
    background:#0df053;
    color:#fff;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow:0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
   }

.btn-wsp:hover{
    text-decoration: none;
    color: #0df053;
    background: #fff;
}

/* BOTON WHATSAPP */


/* FOOTER */

.social-icons {
    display: flex;
    justify-content: center;
}
.social-icons a {
    width: 34px;
    height: 34px;
    background-color: var(--primary);
    border-radius: 2px solid var(--primary);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-left: 5px;
    transition: all 0.4s ease;
    border: 2px solid var(--primary);
}

.social-icons a:hover {
    color: var(--primary);
    background-color: transparent;
    border-color: var(--primarys);
}


.logo {
    font-weight: 500;
    font-size: 3rem;
}

.footer-top {
    margin-top: 20px!important;
    background-color: var(--primary);
}

.footer-top a {
    color: var(--dark);
}

.footer-top a:hover {
    color: var(--white);
}

.footer-bottom {
    background-color: var(--color-secundary);
}
.footer-bottom .copy-right{
    color: #fff;
}

@media (max-width:991px){
    /* header ul{
        margin-top: -40px;
    } */
    .hero-banner{
        height: 25vh;
    }
    section{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (max-width:474px){
   /*  header ul{
        margin-top: -40px;
    } */
    .hero-banner{
        height: 25vh;
    }
    section{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
